html {
  font-family: 'Montserrat', sans-serif;
}

body {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100vh;
  height: auto;
}

.home {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(lightcyan), to(#8a8b8a));
  background-image: linear-gradient(lightcyan, #8a8b8a);
  margin: 0;
  padding: 0;
}

.home .nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  width: 100%;
  height: 4rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#6C01BB), to(#7E03B5));
  background-image: linear-gradient(to right, #6C01BB, #7E03B5);
  text-align: center;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.home .nav h2 {
  color: white;
  width: 95%;
}

.home .nav img {
  float: right;
}

.home .controls {
  position: fixed;
  margin-top: 4rem;
  width: 15%;
  height: 100%;
  padding: 1.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#787878), to(#363636));
  background-image: linear-gradient(#787878, #363636);
  -webkit-box-shadow: 10px 0px 20px -8px rgba(0, 0, 0, 0.64);
          box-shadow: 10px 0px 20px -8px rgba(0, 0, 0, 0.64);
}

.home .controls h2 {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  margin: 0 0 1.5rem 0;
}

.home .controls h2 {
  font-size: 2rem;
}

.home .controls #player_title {
  margin-top: 1rem;
}

.home .controls #player_controls {
  display: block;
}

.home .controls #player_controls #player_name {
  position: relative;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: 700;
  width: 70%;
  padding: 0.8rem;
  border: none;
  border-radius: 2rem;
  color: #707070;
  margin: 0;
}

.home .controls #player_controls #player_name:focus {
  outline: none;
  border: 2px solid #06FF7A;
}

.home .controls #player_controls span {
  background: none;
  height: 90%;
  padding: 0.8rem;
  border-radius: 50%;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.home .controls #player_controls span #arrow {
  width: 8%;
  vertical-align: middle;
}

.home .controls #skill_label {
  color: white;
}

.home .controls ul {
  list-style-type: none;
  margin: 0.5rem;
  display: block;
  padding: 0;
}

.home .controls ul li {
  float: left;
  margin: 0;
  width: 20%;
}

.home .controls ul li img {
  width: 85%;
  padding-bottom: 8px;
}

.home .controls ul li img:hover {
  opacity: 0.8;
}

.home .controls #teams_label {
  margin: 12rem 0 1.5rem 0;
}

.home .controls #num_teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 2.8rem;
  background: white;
  padding: 0;
  border: none;
  border-radius: 2rem;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .controls #num_teams img {
  width: 8%;
  margin: 0 0.5rem;
}

.home .controls #num_teams h2 {
  color: #707070;
  margin-top: 0.2rem;
}

.home .controls #make_teams_label {
  margin: 10rem 0 3rem 0;
}

.home .controls #make_teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .controls #make_teams img {
  width: 20%;
}

.home .controls #make_teams img:hover {
  opacity: 0.8;
}

.home #display {
  position: relative;
  float: right;
  width: 78%;
  height: 100vh;
  padding: 5.5rem 2rem;
}

.home #display h4 {
  color: #707070;
}

.home #display .players {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95%;
  height: 20%;
  margin-bottom: 1rem;
  padding: 2rem;
  overflow: auto;
}

.home #display .teams {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  float: left;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  width: 95%;
  height: 50%;
  padding: 0 2rem;
}

.bg {
  position: fixed;
  width: 100%;
  height: auto;
}

.bg img {
  max-width: 100%;
  height: auto;
  min-width: 100%;
  height: auto;
}

.welcome {
  position: fixed;
  background-image: url(/images/purpletriangle.svg), url(/images/greytriangle.svg);
  background-position-y: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.welcome-text {
  position: absolute;
  width: 84vw;
  height: 100vh- 10vh;
  margin: 5vw;
  padding: 4vw;
  color: white;
  border-style: solid;
  border-width: 4px;
  border-color: #06FF7A;
  border-radius: 4em;
  -webkit-transition: background-position-y 0.8s ease-in;
  transition: background-position-y 0.8s ease-in;
}

.welcome-text h1 {
  font-weight: 700;
  font-size: 4rem;
  color: white;
}

.welcome-text h3 {
  font-weight: 400;
  font-size: 1.8rem;
}

.welcome-text .btn {
  margin-top: 1rem;
  background-color: white;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 2rem;
  white-space: nowrap;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  padding: 10px 5px 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #707070;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

.welcome-text .btn .arrow {
  background-position-y: 50%;
  margin: 1rem;
  background-image: url("/images/Group15.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  padding: 10px;
  width: 10px;
}

.welcome-text .btn:hover {
  border-style: solid;
  border-color: #06FF7A;
}

.steps {
  float: right;
  margin-top: 15vh;
  font-weight: 400;
  font-size: 1.8rem;
}

.steps li {
  margin-bottom: 2vh;
  list-style: none;
}

.steps li::before {
  content: "\2022";
  color: #06FF7A;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.hidden {
  display: none;
}

.active {
  border-bottom: 3px solid #06FF7A;
}

.clear {
  opacity: 0;
}

.playerstyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #363636;
  color: white;
  font-weight: 700;
  margin-bottom: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem 2rem;
  height: 2rem;
  border: none;
  border-radius: 2rem;
  margin-left: 1rem;
  -webkit-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.playerstyle h3 {
  color: #06FF7A;
  margin-left: 1rem;
}

.teamstyle {
  background-color: white;
  width: 20%;
  height: 80%;
  padding: 2rem;
  margin: 0 2rem 2rem 0;
  border-radius: 2rem;
  text-align: center;
  -webkit-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
}

.teamstyle .teamnum {
  color: #363636;
  display: inline;
  pointer-events: none;
}

.teamstyle .total {
  color: #06FF7A;
  display: inline;
  margin-left: 50%;
  pointer-events: none;
}

.teamstyle .teamplayers {
  width: 100%;
  height: 90%;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

.min {
  width: 10%;
  height: 5%;
  text-align: center;
  padding: 0.5rem;
  margin-right: 2px;
}

.min .total {
  margin-left: 10%;
}

.min .teamplayers {
  display: none;
}
/*# sourceMappingURL=main.css.map */